h1{
	color: #0000FF;
}
h2{
	color: #00CCFF;
}
body {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;
}
body {
 background-image: url("flowerbg.jpg");
	min-height: 600px;
    background-size: cover;
    background-position: center center;
}
